
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family:'Courier New', Courier, monospace;
    line-height: 1.5;
}


html {
    scroll-behavior: smooth-scroll;
}


.nav {
    background-color: #fff;
    padding: 1rem 1.5rem;
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: all 0.3s linear;
}

.links a {
  background: var(--clr-white);
  color: red;
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: ;
  transition: var(--transition);
}
  