@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Suez+One&display=swap');


*{
    border-box: box-sizing
    }*

body {
    background: hsl(94, 50%, 95%);
    font-family: 




}

.nav-links {
    float: right;
}











