@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Suez+One&display=swap');

*{margin: 0;
  padding: 0;}

  
body {
    overflow-x: hidden;
    font-family: 'Quicksand' Sans-serif;
    color: #222;
}



   




.carousel-item {
   height: 100vh;
  }

.carousel-caption h3 {
  color: #fff !important;
}

@media (max-width: 600px) {
  .carousel-caption {
    display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
  }
}

/* .navbar ul { */
    margin: 0;
    padding: 0;
    list-style: none;      
   }














